@font-face {
  font-family: "DelaGothic";
  src: url("../fonts/DelaGothicOneRegular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/PoppinsRegular.ttf");
}

/*
Olive: #727651
Sunlit Sand: #fcf5e5
Palm Shadow: #342E37
Peachy Cream: #FFF5EE
Deep Forest: #081917

*/
